{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <h3>Appoinment</h3>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="printarea" style="height: 0px;width:0px;overflow:hidden;"></div>
        <div class="row" >
          <div class="col-md-12">
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Entry</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Update</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                  
                  <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">                  
                      <div class="row">
                          <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-3">                                                                
                                  <div class="form-group">
                                  <label>Appoinment Id:</label> 
                                  <input class="form-control" type="text" id="apid" name="apid" value="{{serialnos}}">                                                    
                                  </div>
                                  </div>
                                  <div class="col-md-3">                                                                
                                  <div class="form-group">
                                  <label>Patient Name:</label> 
                                  <input class="form-control" name="pname" id="pname" type="text">                           
                                  </div>
                                </div>
                                <div class="col-md-3">                                                                
                                  <div class="form-group">
                                  <label>Appoinment Date:</label> 
                                  <input class="form-control" name="apdate" id="apdate" type="date">                           
                                  </div>
                                </div> 
                                <div class="col-md-3">                                                                
                                  <div class="form-group">
                                  <label>Doctor Name:</label> 
                                  <input list="demo5" class="form-control" name="docname" id="docname" />
                                  <datalist name="drtoken" id="demo5">
                                  {% for user in docname %} 
                                  <option value="{{user.drname}}">{{user.drname}}</option>
                                  {% endfor %}                                                                                                       
                                  </datalist>                           
                                  </div>
                                </div>                      
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-3">                                                                
                                    <div class="form-group">
                                    <label>Mobile No:</label> 
                                    <input class="form-control" type="text" name="mblno" id="mblno">
                                     </div>
                                    </div>
                                    <div class="col-md-3">                                                                
                                    <div class="form-group">
                                    <label>Session:</label> 
                                    <select class="form-control" name="session" id="session">       
                                      <option value="Morning">Select</option> 
                                      <option value="Morning">Morning</option> 
                                      <option value="Evening">Evening</option> 
                                      </select>            
                                    </div>
                                  </div>
                                  <div class="col-md-4">                                                                
                                    <div class="form-group">
                                    <label>Purpose:</label> 
                                    <input class="form-control" type="text" name="purpose" id="purpose">                 
                                    </div>
                                  </div>
                                  <div class="col-6 col-md-2">                                                                
                                    <div class="form-group">
                                    <label>&nbsp;</label> <br>
                                    <button type="submit" id="appientrysave" class="btn-sml btn btn-success">Save</button>                          
                                    </div>
                                  </div>
                                </div>
                          </div>             
                      </div>
                  </div>

               <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">                
                  <div class="row">
                      <div class="col-md-12">
                          <div class="row">
                            <div class="col-8 col-md-2">                                                                
                              <div class="form-group">
                              <label>Appoin-Id:</label> 
                              <input class="form-control" type="text" id="apid1" name="apid1">                                                        
                              </div>
                              </div>
                              <div class="col-2 col-md-1">                                                                
                                  <div class="form-group">
                                  <label>&nbsp;</label><br> 
                                  <button type="submit" id="appisearch"  style="width:50px" class="btn-sml  btn btn-info"><i class="fas fa-search"></i></button>                          
                                  </div>
                                </div>
                              <div class="col-md-3">                                                                
                              <div class="form-group">
                              <label>Patient Name:</label> 
                              <input class="form-control" name="pname1" id="pname1" type="text">                           
                              </div>
                            </div> 
                            <div class="col-md-3">                                                                
                              <div class="form-group">
                              <label>Appoinment Date:</label> 
                              <input class="form-control" name="apdate1" id="apdate1" type="text">                           
                              </div>
                            </div>
                            <div class="col-md-3">                                                                
                              <div class="form-group">
                              <label>Session:</label> 
                              <select class="form-control" name="session1" id="session1">       
                                <option value="Morning">Select</option> 
                                <option value="Morning">Morning</option> 
                                <option value="Evening">Evening</option> 
                                </select>
                              </div>
                            </div>               
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-3">                                                                
                                  <div class="form-group">
                                  <label>Doctor Name:</label>                                                                                                                          
                                  <input list="demo5" class="form-control" name="docname1" id="docname1" />
                                  <datalist name="drtoken" id="demo5">
                                  {% for user in docname %} 
                                  <option value="{{user.drname}}">{{user.drname}}</option>
                                  {% endfor %}                                                                                                       
                                  </datalist>
                                  </div>
                                </div>
                              <div class="col-md-3">                                                                
                                <div class="form-group">
                                <label>Mobile No:</label> 
                                <input class="form-control" type="text" name="mblno1" id="mblno1">
                                 </div>
                                </div>
                                <div class="col-md-4">                                                                
                                  <div class="form-group">
                                  <label>Purpose:</label> 
                                  <input class="form-control" type="text" name="purpose1" id="purpose1">          
                                  <input class="form-control" type="hidden" name="pid1" id="pid1">                        
                                  </div>
                                </div>
                                <div class="col-6 col-md-1">                                                                
                                  <div class="form-group">
                                  <label></label> <br>
                                  <button type="submit" id="appientryupdate" class="btn-sml btn btn-success"><i class="fas fa-sync-alt"></i></button>                          
                                  </div>
                                </div>
                                <div class="col-6 col-md-1">                                                                
                                  <div class="form-group">
                                  <label></label><br>
                                  <button type="submit" id="appientrydelete" class="btn-sml  btn btn-danger"><i class="fas fa-trash"></i></button>                          
                                  </div>
                                </div>
                          </div>
                      </div>  
                      <div class="col-md-12">
                          <div class="row">
                              
                       
                            </div>
                      </div>                           
                  </div>
                </div>
        </div>            
      </div>       
    </div>
    </div>
    </div>
  
   
  </section>
</div>
  {% endblock %}
  {% block javascript %}
<script>

$("#appientrysave").click(function(){
    var apid = $('input[name="apid"]').val()
    var pname = $('input[name="pname"]').val()
    var apdate = $('input[name="apdate"]').val()
    console.log(apdate)
    var docname = $('input[name="docname"]').val() //console.log(docname)
    var mblno = $('input[name="mblno"]').val() 
    var session = $('select[name="session"]').val()    
    var purpose = $('input[name="purpose"]').val() 
    if(apid!='' && pname!='' && apdate!='' && docname!='' 
    && mblno!='' && session!='' && purpose!=''){
    $.ajax({
        url: '{% url "appientrysave" %}',
        type: 'get',
        data: {         
          'apid' :  apid,
          'pname'   :  pname,                
          'apdate'   :  apdate,
          'docname'    :  docname,                 
          'mblno'     :  mblno,
          'session'    :  session,
          'purpose'   :  purpose,                 
        },
        dataType: 'json',
        success: function(data)  { 
          if (data.getid) {     
            var gid = data.getid; //  console.log(gid)          
            $('<iframe>', {src:'/appoinmentprint/'+gid ,id:'myFrame',frameborder:0,scrolling:'yes'}).appendTo('.printarea');                               
            document.getElementById("pname").value = "";  
            document.getElementById("apdate").value = "";   
            document.getElementById("docname").value = "";   
            document.getElementById("mblno").value = "";
            document.getElementById("session").value = "";  
            document.getElementById("purpose").value = ""; 
            swal("Good job!", "Save Successfully", "success")
          } 
          if (data.getid1) { 
            var apid=data.getid1;//  console.log(apid)
            document.getElementById("apid").value=apid;
            }
    }
    }); 
  }    
    else
      swal("Oh noes!", "Enter the value", "error");      
  });

$("#appisearch").click(function(){     
    var apid1 = $('input[name="apid1"]').val()  //console.log(apid1)         
    if(apid1){
    $.ajax({
      url: '{% url "appisearch" %}',
      type: 'get',
      data: {
        'apid1': apid1,         
      },
      dataType: 'json',
      success: function(data)  { 
      if(data.appisave){   // console.log(data.appisave);
          var oldlistgt =  data.appisave;   // console.log(oldlistgt);             
          for (var i=0; i<oldlistgt.length; i++) { 
          var pid= oldlistgt[i].id;
          var name= oldlistgt[i].patientname; // console.log(name)
          var doctorname = oldlistgt[i].doctorname;  //  console.log(doctorname)          
          var dt = oldlistgt[i].dt; 
          var date = dt.split('T')[0];   
          var purpose = oldlistgt[i].purpose;  // console.log(purpose)
          var session = oldlistgt[i].session; // console.log(session)                           
          var conduct = oldlistgt[i].conduct; // console.log(conduct) 
      }   
          document.getElementById("pid1").value=pid; //    console.log(pid)                          
          document.getElementById("pname1").value=name; //   console.log(name) 
          document.getElementById("docname1").value=doctorname;  
          document.getElementById("apdate1").value=date;  
          document.getElementById("purpose1").value=purpose;  
          document.getElementById("session1").value=session;
          document.getElementById("mblno1").value=conduct;
     }
   }
        }); 
      }
      else
      {
        swal("Oh noes!", "Enter Per.op.id ", "error");   
      }  
      });
      
$("#appientryupdate").click(function(){ 
    var pid1 = $('input[name="pid1"]').val()   
    var pname1 = $('input[name="pname1"]').val()
    var apdate1 = $('input[name="apdate1"]').val()
    var docname1 = $('input[name="docname1"]').val() //console.log(docname)
    var mblno1 = $('input[name="mblno1"]').val() 
    var session1 = $('select[name="session1"]').val()    
    var purpose1 = $('input[name="purpose1"]').val() 
    if(pname1!='' && apdate1!='' && docname1!='' 
    && mblno1!='' && session1!='' && purpose1!=''){
    $.ajax({
        url: '{% url "appientryupdate" %}',
        type: 'get',
        data: { 
          'pid1'    : pid1,
          'pname1'   :  pname1,                
          'apdate1'   :  apdate1,
          'docname1'    :  docname1,                 
          'mblno1'     :  mblno1,
          'session1'    :  session1,
          'purpose1'   :  purpose1,                 
        },
        dataType: 'json',
        success: function(data)  { 
          if (data.save) {            
            swal("Good job!", "Save Successfully", "success")
          }           
    }
    }); 
  }    
    else
      swal("Oh noes!", "Enter the value", "error");      
  });

$("#appientrydelete").click(function(){ 
    var pid1 = $('input[name="pid1"]').val()   
    var pname1 = $('input[name="pname1"]').val()
    var apdate1 = $('input[name="apdate1"]').val()
    var docname1 = $('input[name="docname1"]').val() //console.log(docname)
    var mblno1 = $('input[name="mblno1"]').val() 
    var session1 = $('select[name="session1"]').val()    
    var purpose1 = $('input[name="purpose1"]').val() 
    if(pname1!='' && apdate1!='' && docname1!='' 
    && mblno1!='' && session1!='' && purpose1!=''){
    $.ajax({
        url: '{% url "appientrydelete" %}',
        type: 'get',
        data: { 
          'pid1'    : pid1,
        },
        dataType: 'json',
        success: function(data)  { 
          if (data.save) {            
            swal("Good job!", "Delete Successfully", "success")
          }           
    }
    }); 
  }    
    else
      swal("Oh noes!", "Enter the value", "error");      
  });
</script>
{% endblock javascript%}