{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <h3>Complaints</h3>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
 
            <div class="row" >
              <div class="col-md-12">
                <div class="card card-default">   
                    <div class="card-body">
                       <div class="row form-group">
                         <div class="col-md-4">
                            <label>Complaints:</label>
                            <input list="demo7" id="complaint" name="complaint"  class="form-control" /> 
                         </div>
                         <div class="col-4 col-md-2">                                        
                            <label>&nbsp;</label><br>
                            <button type="button" id="saveco" class="btn btn-success btn-sml">SAVE</button> 
                         </div>
                         <div class="col-8 col-md-3">                                        
                          <label>Count:</label>
                          <input list="demo7" id="tbllist" name="tbllist"  class="form-control" readonly/> 
                       </div>
                       </div>  
                       <hr/>
                      
                       <div class="table-responsive p-0" style="height: 270px;">
                         <table id="comtable" class="table table-dark danger">
                           <thead style="text-align:center;font-size:12px;">
                             <tr>                          
                               <th>NO</th>                               
                               <th>Complaints</th>
                               <th>Actions</th>
                               </tr>
                           </thead>
                           <tbody id="combody" style="font-size:12px;" >  
                            {% for user in pdltfetch %} 
                            <tr  id="user-{{user.id}}"> 
                              <td align="center"  class="userData" >{{user.id}}</td>                                 
                              <td align="center"  name="complaint" class="usercomplaint userData" >{{user.complaints}}</td> 
                              <td align="center"><button type="button" onClick="editcomplaint({{user.id}})" 
                               id="editcomplaint"  class="btn-sml btn btn-default" data-toggle="modal"
                               data-target="#modal-default"><i class="fas fa-edit" style="color:blue"></i></button>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                              <button type="button" id="deletecomplaint" onClick="deletecomplaint({{user.id}})" 
                               class="btn-sml btn btn-default"><i class="fas fa-trash-alt" style="color:red"></i></button></td>                          
                            </tr>
                            {% endfor %} 
                           </tbody>
                         </table>
                     </div> 
                     <div class="modal fade" id="modal-default">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Edit Complaint</h4>
                            </button>
                          </div>
                          <div class="modal-body">
                          <label>ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                           <input type="text" id="form-id" name="snoupt"><br><br>
                           <label>Complaints:&nbsp;&nbsp;&nbsp;</label>
                           <input type="text" id="form-complaint" name="complaintupdate">
                          </div>
                          <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="updatecomplaint" class="btn btn-primary">Update</button>
                          </div>
                        </div>            
                      </div>          
                    </div>
                     </div>
                   </div>
                      </div>
             </div>
                      
  </section>
</div>
  {% endblock %}
  {% block javascript %}
  <script>

  
$("#saveco").click(function(){
  var complaint = $('input[name="complaint"]').val() //console.log(complaint)
  if(complaint){
  $.ajax({
      url: '{% url "saveco" %}',
      type: 'get',
      data: {         
          'complaint': complaint,
      },
      dataType: 'json',
      success: function(data)  { 
        if (data.user) { 
          appendToUserTabel(data.user);         
          swal("Good job!", "Save Successfully", "success")   
        }    
        else
           swal("Oh noes!", "This name already exists!", "error");   
    }
    }); 
  }    
    else
      swal("Oh noes!", "Enter the value", "error"); 
      CountRows1();  
      document.getElementById("complaint").value="";      
      
  });

function appendToUserTabel(user) {  // console.log(user)
  data2=user; // console.log(data2)
  $("#comtable > tbody:last-child").append(`
  <tr id="user-${data2.id}">  
  <td  align="center" class="userData" >${data2.id}</td>
  <td  align="center" class="usercomplaint userData"  name="complaint">${data2.complaints}</td>
  <td align="center"><button type="button" id="comedit" name="comup"
  class="usercomplaint userData btn-sml btn btn-default" data-toggle="modal" data-target="#modal-default">
  <i class="fas fa-edit" style="color:blue" onClick="editcomplaint(${data2.id})"></i></button>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn-sml btn btn-default" onClick="deletecomplaint(${user.id})">
  <i class="fas fa-trash-alt" style="color:red"></i></button></td>                          
  </tr>   
 `);   
 CountRows1();
  }

$(document ).ready(function() {    
var rowCount1 = $('table#comtable tbody#combody tr:last').index() + 1; //console.log(rowCount1)
document.getElementById("tbllist").value=rowCount1;  
} );

function CountRows1() {    
  var rowCount1 = $('table#comtable tbody#combody tr:last').index() + 1; //console.log(rowCount1)
document.getElementById("tbllist").value=rowCount1;  
}  

function editcomplaint(id) {
  if (id) {  // alert(value);
  tr_id = "#user-" + id;    //console.log(tr_id);
  complaint = $(tr_id).find(".usercomplaint").text();   //console.log(complaint)
  $('#form-id').val(id);
  $('#form-complaint').val(complaint);
  }
  }

$("#updatecomplaint").click(function(){
  var complaintupdate = $('input[name="complaintupdate"]').val()// console.log(complaintupdate)  
  var snoupt = $('input[name="snoupt"]').val() // console.log(snoupt) 
  $.ajax({
      url: '{% url "updatecomplaint" %}',
      type: 'get',
      data: {         
        'complaintupdate'   : complaintupdate,   
        'snoupt'           : snoupt,
      },
      dataType: 'json',
      success: function(data)  {             
      if (data.to_updatenewcomplaint) { 
        var user = data.to_updatenewcomplaint;        //console.log(user)
        updateToUserTabel(user);     
        swal("Good job!", "Update Successfully", "success")   
        } 
      }
      }); 
      $("#complaint").empty();   
    });

function updateToUserTabel(user){  //console.log(user);   
  $("#combody #user-" + user.id).children(".userData").each(function() {
    var attr = $(this).attr("name");
    if (attr == "complaint") {
      $(this).text(user.complaints);    
    } 
    });
    CountRows1();
    }

function deletecomplaint(id) {  //alert(id)
    $.ajax({
        url: 'deletecom',
        data: {'id'  :id},  
        dataType: 'json',
        success: function (data) {
          if (data.success) { 
            $("#comtable #user-" + id).remove();
            swal("Good job!", "Delete Successfully", "success")   
          } 
        }
    });
    document.getElementById("tbllist").value="";      
    CountRows1();
}
  

</script> 

{% endblock javascript%}

