{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <h3 style="float: right;">Daily Report</h3>
      </div>
      <div style="top:12px;">
      <div class="col-md-4">
        <label style="text-align:right">Date:&nbsp;<label name="cdt" id="cdtid"></label></label> 
         </div>
      <div class="col-md-8">
      <label>Consult:&nbsp;<label name="doctorname" id="doctorid"></label></label>
     </div>
    </div>
    </section>
   <div class="printarea" style="width:0px;height:0px;overflow:hidden"></div>
    <!-- Main content -->
<section class="content">
      <!-- Default box -->    
      <div class="card" style="height:75%;">
            <div class="row" >
              <div class="col-md-12">
                <div class="card card-default">   
                    <div class="card-body">
                       <div class="row form-group">
                         <div class="col-md-3">
                            <label>Dr.Name</label>
                            <input list="demo5" name="docname" id="docname" class="form-control" required/>
                            <datalist name="drtoken" id="demo5">
                            {% for user in docname %} 
                            <option value="{{user.drname}}">{{user.drname}}</option>
                            {% endfor %}                                                                                                       
                            </datalist>
                         </div>
                        
                         <div class="col-md-3">                                        
                            <label>From</label>
                            <input type="date" class="form-control" name="fromdt" id="fromdt" required/>                           
                         </div>
                         <div class="col-md-3">                                        
                            <label>To</label>
                            <input type="date" class="form-control" name="todt" id="todt" required/>
                         </div>
                         <div class="col-md-3">
                          <label>&nbsp;</label><br>
                          <button type="submit" class="btn btn-success btn-sml" id="ipsearchop"><b style="color:black">Search</b></button> 
                       </div>
                       </div> 
                       
                       <div class="row form-group">
                        <div class="col-4 col-md-3">
                            <label>Count</label>
                            <input type="text" id="dlycnt" name="dlycnt" class="form-control"/>
                         </div>
                                       
                        <div class="col-4 col-md-2">                                        
                          <label>&nbsp;</label><br>
                           <button type="button" id="prtdeatil" class="btn btn-info btn-sml"><b style="color:black">Print</b></button> 
                        </div>
                        <div class="col-4 col-md-2">
                          <label>&nbsp;</label><br>
                          <button type="button" id="reset"  class="btn btn-secondary btn-sml"><b style="color:black">Clear</b></button>
                       </div>                      
                      </div>
                       <hr/>
                      
                      </div>
                       <div class="table-responsive p-0" style="height: 270px;padding:2px;">
                         <table id="oplisttable" class="table table-dark danger">
                           <thead style="text-align:center;font-size:12px;">
                             <tr>                          
                               <th style="display:none">id</th>  
                               <th>S.NO</th>                             
                               <th>IPNO</th>
                               <th>Perid</th>
                               <th>Admitdate</th>
                               <th>Consult</th>                               
                               <th>Name</th>
                               <th>Roomno</th>   
                               <th>Status</th>                            
                               </tr>
                           </thead>
                           <tbody id="oplistbody" style="font-size:12px;" >
                            {% for user in pdltfetch %} 
                            <tr  id="user-{{user.id}}"> 
                              <td align="center" style="width:100px;display:none;" class="userData" >{{user.pk}}</td>                                 
                              <td align="center" style="width:250px" name="peropno" class="userData userperopno" >{{user.perid}}</td> 
                              <td align="center" style="width:250px" name="tokenno" class="userData usertokenno" >{{user.admitdate}}</td> 
                              <td align="center" style="width:250px" name="date" class="userData userdate" >{{user.doctorname}}</td>  
                              <td align="center" style="width:250px" name="opname" class="userData username" >{{user.name}}</td> 
                              <td align="center" style="width:250px" name="amount" class="userData useramount" >{{user.roomno}}</td> 
                              <td align="center" style="width:250px" name="status" class="userData userstatus" >{{user.status}}</td> 
                            {% endfor %}                                                                           
                           </tbody>
                         </table>
                     </div><br>                      
                     </div>
                   </div>
            </div>
      </div>
</section>
</div>

{% endblock %}
{% block javascript %}
<script>
  myDate = new Date().toLocaleDateString();//console.log(myDate)
  $('#cdtid').text(myDate);
  //document.getElementById("cdtid").value=myDate;
  
$("#ipsearchop").click(function(){
  var docname = $('input[name="docname"]').val()  //console.log(docname)
  var fromdt = $('input[name="fromdt"]').val() // console.log(fromdt);
  var todt = $('input[name="todt"]').val() // console.log(todt);
  if(docname!='' && fromdt!='' && todt!=''){
      $.ajax({
        url: '{% url "ipsearchop" %}',
        data: {
          'docname'   : docname,
          'fromdt'    : fromdt, 
          'todt'      : todt,
        },
        dataType: 'json',
        success: function (data) {         
          if (data.user) { // console.log(data.user)
            appendToUserTabel(data.user);      
          }
          if (data.docname) {  
            var getdoname=data.docname;
            $('#doctorid').text(getdoname);
          }          
        }       
      });  
    } else{ swal("Oh noes!", "Please enter all fields !", "error");  }
    CountRows1();      
    });
   
function CountRows1() {    
var rowCount1 = $('table#oplisttable tbody#oplistbody tr:last').index() + 1; //console.log(rowCount1)
document.getElementById("dlycnt").value=rowCount1;  
}  

function appendToUserTabel(user) {  //console.log(user) 
  var user=user; 
  user =JSON.parse(user); //console.log(user.length)
    if(!this.snNo) this.snNo = 1;  
    for (i=0; i<user.length; i++) {
      data2=user[i].fields; // console.log(data2);//console.log(data2.peropno);  
      $("#oplisttable > tbody:last-child").append(`
      <tr id="user-${user[i].pk}">  
      <td  style="height:5px;" >${this.snNo}</td>
      <td  align="center" style="width:100px;display:none;" class="userData" >${user[i].pk}</td>
      <td  align="center" style="width:250px" class="userData userperopno"  name="peropno">${data2.ipno}</td>
      <td  align="center" style="width:100px" class="userData usertokenno"  name="tokenno">${data2.perid}</td>
      <td  align="center" style="width:250px" class="userData userdate"  name="date">${data2.admitdate}</td>
      <td  align="center" style="width:100px" class="userData userconsult"  name="consult">${data2.doctorname}</td>
      <td  align="center" style="width:250px" class="userData useropname"  name="opname">${data2.name}</td>
      <td  align="center" style="width:100px" class="userData useramount"  name="amount">${data2.roomno}</td>
      <td  align="center" style="width:250px" class="userData userstatus"  name="status">${data2.status}</td>
      </tr>   
     `)
     this.snNo += 1;   
    }       
  }

function printData() { 
   newWin= window.open("");
   newWin.document.write('<style>body {border-style: double;}</style>');    
   var ToPrint=document.getElementById("getdocdt");//console.log(docPrint)      
   newWin.document.write(ToPrint); 
   var divToPrint=document.getElementById("oplisttable");
   newWin.document.write('<style>table, td, th {border: 1px solid black;text-align: left;}table {border-collapse: collapse;width: 100%;}th, td {padding: 15px;}</style>');   
   newWin.document.write(divToPrint);
   newWin.print();
   newWin.close();
}

$('#prtdeatil').on('click',function(){
//if($.trim($("#oplistbody").val()) != "" ){
printData();
//}
//else{ swal("Oh noes!", "Please enter all fields !", "error"); }
})



$(document).ready(function() { 
  $("#reset").click(function() { 
    document.getElementById("docname").value="";
    document.getElementById("fromdt").value="";
    document.getElementById("todt").value="";
      $("#myForm").trigger("reset"); 
      $("#oplistbody").empty();
      //$("#d").get(0).reset(); 
      //$("#myForm")[0].reset() 
  }); 
}); 


</script>
{% endblock javascript%}
